.btn-shadowed {
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.6);
    &:active {
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2) inset !important;
    }
}

// input
.el-input__inner {
    height: 25px;
    padding-right: 16px  !important;
    padding-left: 5px;
}
.el-select-dropdown .el-select-dropdown__item,
.el-input__inner{
    font-size: 12px;
}
.el-select-dropdown__item{
    height: 28px;
    line-height: 28px;
}
.el-select-dropdown__list{
    // padding: 0px;
}
body:not([theme="Light"]) {
    .el-checkbox__inner,
    .el-input__inner {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: rgba(204, 204, 204, 0.4);
    }
    .el-checkbox__inner{
        border-color: rgba(255,255,255,0.15);
    }
    .el-input__inner {
        border-width: 0px;
    }
}

.bottom-border-input{
    .el-input__inner{
        border-radius: 0px;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom-width: 1px !important;
        background-color: transparent !important;
    }
}

.el-input__inner,
.el-input__icon {
    line-height: 10px;
}

.light-hover {
    overflow: hidden;
    position: relative;
    &::before {
        content: "";
        width: 2em;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        display: block;
        position: absolute;
        top: 0px;
        left: -3em;
        transform: skew(40deg, 0deg);
        pointer-events: none;
    }
    &:hover::before {
        transition: all 0.5s ease-in-out;
        left: calc(100% + 3em);
    }
}

.el-checkbox__inner::after {
    border-width: 2px;
    top: 0px;
}
.el-input--prefix .el-input__inner {
    padding-left: 8px;
    padding-right: 2px;
}
.el-select .el-input .el-select__caret {
    font-size: 10px;
}
.el-input__suffix {
    right: 0px;
}
.el-input__prefix {
    left: 0px;
}
.el-input__icon {
    width: 20px;
}
.text-sm {
    font-size: 12px;
}
.text-lg{
    font-size: 16px;
}
.font-bold {
    font-weight: bold;
  }