.nts-header{
    .el-col,.el-row{
        display: flex;
        align-items: center;
        height: 100%;
    }
    margin: auto;
    height: calc(100% - 10px);
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    .header-child{
        display: flex;
        align-items: center;
        justify-content:center;
        opacity: 0.8;
        padding: 0px .5em;
        &:not(:last-of-type){
            border-right: 1px solid #ccc;
        }
    }
  
}
#server-delay-link{
    padding: 0px;
    margin: 0px .5em;
}
.server-delay-popover{
    transform: translate(4px, 5px);
    opacity: 0.85;
}

@media screen and (max-width:768px){
    .nts-header{
        width: 100%;
    }
}