.nts-theme-icon {
  width: 2em;
  height: 2em;
  // background-color: gray;;
  border-radius: 100%;
  border: 1px solid #ccc;
  position: relative;
  
  transition: all 0.3s;
  display: inline-block;
  margin: 3px 6px 18px 6px;
  // &:hover{
  //     transition-delay: 0.3s;;
  //     transform: scale(1.5);
  //     z-index: 1;
  // }
  color: inherit !important;

  &::before {
    content: attr(title);
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 26px;
    font-size: 12px;
    height: auto;
    width: 100%;
    text-align: center;
    font-style: normal;
    pointer-events: none;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nts-theme-ul {
  border: none;
  user-select: none;

  .el-menu-item {
    &:not([theme-active='true']) {
      background-color: white;
    }

    transition: all 0.3s;
    height: auto;
    line-height: 1.5;
    white-space: normal;
  }

  .el-menu-item[theme-active='true'] {
    background-color: #ecf5ff;
    box-shadow: 9PX 0PX 0px -7PX #409EFF inset !important;

  }

  .el-menu-item:hover {
    box-shadow: 9PX 0PX 0px -7PX rgba(64, 160, 255, 0.5) inset;
  }

  &.is-active {
    color: inherit;
  }

  .el-menu-item-group__title {
    padding: 0px;
  }
}
